html, body
{
margin-left: 4%;
margin-right: 4%;
margin-top: 0%;
font-family: 'Times New Roman', Times, serif;

}
.topRow
{
    display: flex;
    gap: 19px;
    justify-content: flex-end;
   
}
.topRow button
{
    background: transparent;
    border: none;
}
/* login form starts */
.container-login, .container-signup, .forgetPW
{
    display: none;
    
}

.closeButton, .closeButtonSignup, .closeButtonForgetPW
{
   position: relative;
    left: 95%;
}

.container-login, .forgetPW
{
position: fixed;
left: 30%;
top: 20%;
padding: 10px;
width: 500px;
background-color: white;
border: 2px solid green;
border-radius: 10px;
}

.container-signup
{
    position: fixed;
left: 30%;
top: 10%;
padding: 10px;

background-color: white;
border: 2px solid green;
border-radius: 10px;
 max-height: 80vh; 
 /* overflow-y: auto; */
 overflow-y: auto;
 overflow-x: hidden;
 width: 500px;
    
}

.container-login form, .container-signup form, .forgetPW form
{
    display: grid;
   gap: 5px;
   padding: 10px;
}

.container-login label, .container-signup label, .forgetPW label
{
    color: green;
    font-size: 17px;
}

.container-login input, .container-signup input, .forgetPW input
{
    height: 30px;
    background-color: transparent;
    opacity: 0.9;
    border: 1px solid green;
    border-radius: 5px;
    margin-bottom: 20px;
}


.loginbuttons
{
    display: flex;
    margin: auto;
    gap: 20px;
}

.button-login, .button-login-signup, #button-signup, .forgetPWBtn
{
    background-color: green;
    width: 100px;
    height: 40px;
    border: 2px solid green;
    border-radius: 5px;
    color: white;
    
}
#button-signup, .forgetPWBtn
{
    margin: auto;
}
/* login form ends */

@media (max-width: 768px) {
    .container-login, .container-signup, .forgetPW {
        left: 10%; 
        width: 80%; 
        max-width: none; 
    }
}
/* login form ends */
.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #04AA6D;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 10px
}
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  
